@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Work+Sans:wght@100&display=swap");

/* ------------------------------------- topbar css ---------------------------------- */
.topbar-container {
  position: fixed;
  top: 0;
  height: 6rem;
  width: 100%;
  background-color: var(--primary);
  color: var(--light);
  padding: 1.5rem;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.topbar-left-container {
  display: flex;
  margin-left: 1rem;
  align-items: center;
}
.topbar-right-container {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.topbar-logo {
  transition: 250ms;
  font-family: "Comforter", cursive;

  font-weight: 550;
}

.topbar-logo:hover {
  color: white;
}

.git-logo {
  height: 4rem;
}

/* ----------------------------- main -------------------------- */

.main-wrapper {
  margin-top: 6rem;
  display: grid;
  height: calc(100vh - 6rem);
  grid-template-columns: 300px auto;
  overflow-y: scroll;
}

/* ------------------------------------------ Sidebar CSS -------------------------- */
.sidebar-wrapper {
  border-right: 0.1rem solid var(--dark);
}

.sidebar-content {
  position: fixed;
  width: 300px;
  padding: 2rem;
  height: 90%;
  overflow-y: scroll;
}

.sidebar-heading {
  font-size: 3rem;
}

.link-container {
  font-size: 2rem;
  font-family: "Work Sans", sans-serif;
  color: var(--darker);
  width: 100%;
  margin-bottom: 3rem;
}

li {
  margin-bottom: 1rem;
  transition: 250ms;
  padding: 0.5rem;
  border-radius: 1rem;
}

li:hover {
  background-color: var(--light-primary);
  color: black !important;
}

/* ------------------------------------------ body css----------------------------- */

.main-body {
  padding: 2rem;
  background-color: var(--secondary);
}

.body-block {
  margin: 0 0 4rem 0;
}

.block-heading {
  font-size: 3rem;
}

.block-desc {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: Work Sans, sans-serif;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: 0.2rem;
}

.hLight {
  color: var(--code-link);
}

.code-block {
  width: 100%;
  display: grid;
}
