.rating-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 360ms;
}

.rating-wrapper > div {
  font-size: 3rem;
  color: #808080;
}

rating-wrapper > div:hover {
  color: yellow;
}
