<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation Page-Images</title>
    <link rel="stylesheet" href="../css/comp.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- topbar -->
    <div class="topbar-container">
      <div class="topbar-left-container">
        <i class="material-icons">menu</i>
        <a href="../index.html" class="topbar-logo">Aphro-UI</a>
      </div>
      <div class="topbar-right-container">
        <a href="https://github.com/sameep-s/Aphro_CSS-Library"
          ><img
            src="../assets/images/git-mark.png"
            class="git-logo"
            alt="github-logo"
        /></a>
      </div>
    </div>
    <div class="main-wrapper">
      <!-- sidebar -->
      <div class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-heading">Getting Started</div>
          <hr />
          <div class="link-container">
            <ul>
              <li class="sidebar-list-item">
                <a href="../components/docPage.html">Introduction</a>
              </li>
            </ul>
          </div>

          <div class="sidebar-heading">Components</div>
          <hr />
          <div class="link-container">
            <ul>
              <li>
                <a class="sidebar-list-item" href="../components/avatar.html"
                  >Avatar</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/alert.html"
                  >Alert</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/badge.html"
                  >Badge</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/button.html"
                  >Button</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/card.html"
                  >Card</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/images.html"
                  >Image</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Input</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/lists.html"
                  >Lists</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/navigation.html"
                  >Navigation</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/modal.html"
                  >Modal</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/rating.html"
                  >Rating</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Snackbar</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/grid.html"
                  >Simplified Grid</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Text Utilities</a
                >
              </li>
            </ul>
          </div>

          <div class="sidebar-heading">Common Utilities</div>
          <hr />
          <div class="link-container">
            <ul>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Display Utilities</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Flex Utilities</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="main-body">
        <!------------------------------------------ Images -->
        <div class="body-block">
          <div class="block-heading">Input</div>
          <hr />
          <div class="block-desc">
            Inputs are used to collect data from the user, add class <span class="hLight">.inupt-txt</span> to give style to input and <span class="hLight">.input-success</span> or <span class="hLight">.input-danger</span> for different color schemes.
          </div>

          <!-- Button simple use case -->
          <div class="exapmle-container">
            <div class="elm-container">
                <div class="input-ex-conatiner">
                    <input type="text" class="input-txt" placeholder="Enter something..">
                    <input type="text" class="input-txt input-success ml-4" placeholder="passwords match.">
                    <input type="text" class="input-txt input-danger ml-4" placeholder="passwords do not match.">
                </div>
            </div>

            <div class="code-container">
              <pre><code class="html-plaintext">&ltldiv class="input-ex-conatiner">
    &ltlinput type="text" class="input-txt" placeholder="Enter something..">
    &ltlinput type="text" class="input-txt input-success ml-4" placeholder="passwords match">
    &ltlinput type="text" class="input-txt input-danger ml-4" placeholder="Enter again">
&ltl/div></code></pre>
        </div>
          </div>
        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
