<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation Page-button</title>
    <link rel="stylesheet" href="../css/comp.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- topbar -->
    <div class="topbar-container">
      <div class="topbar-left-container">
        <i class="material-icons">menu</i>
        <a href="../index.html" class="topbar-logo">Aphro-UI</a>
      </div>
      <div class="topbar-right-container">
        <a href="https://github.com/sameep-s/Aphro_CSS-Library"
          ><img
            src="../assets/images/git-mark.png"
            class="git-logo"
            alt="github-logo"
        /></a>
      </div>
    </div>
    <div class="main-wrapper">
      <!-- sidebar -->

      <nav class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-heading">Getting Started</div>
          <hr />
          <div class="link-container">
            <ul>
              <a class="sidebar-list-item" href="../components/docPage.html">
                <li>
                    Introduction
                </li>
              </a>
            </ul>
          </div>

          <div class="sidebar-heading">Components</div>
          <hr />
          <div class="link-container">
            <ul>
              <a class="sidebar-list-item" href="../components/avatar.html">
              <li>
                  Avatar
              </li>
            </a>

            <a class="sidebar-list-item" href="../components/alert.html">
              <li>
                  Alert
              </li>
            </a>

            <a class="sidebar-list-item" href="../components/badge.html">
              <li>
                  Badge
              </li>
            </a>

            <a class="sidebar-list-item" href="../components/button.html">
              <li>
                  Button
              </li>
            </a>

            <a class="sidebar-list-item" href="../components/card.html">
              <li>
                  Card
              </li>
            </a>

            <a class="sidebar-list-item" href="../components/images.html">
              <li>
                  Image
              </li>
            </a>

            <a class="sidebar-list-item" href="../components/input.html">
              <li>
                  Input
              </li>
            </a>

            <a class="sidebar-list-item" href="../components/list.html">
              <li>
                  List
              </li>
            </a>

            <a class="sidebar-list-item" href="../components/navigation.html">
              <li>
                  Navigation(P0)
              </li>
            </a>

            <a class="sidebar-list-item" href="../components/modal.html">
              <li>
                  Modal
              </li>
            </a>

            <a class="sidebar-list-item" href="../components/rating.html">
              <li>
                  Rating
              </li>
            </a>

            <a class="sidebar-list-item" href="../components/slider.html">
              <li>
                  Slider
              </li>
            </a>

            <a class="sidebar-list-item" href="../components/snackbar.html">
              <li>
                  Snackbar
              </li>
            </a>

            <a class="sidebar-list-item" href="../components/grid.html">
              <li>
                  Simple Grid
              </li>
            </a>
          </div>
        </div>
      </nav>

      <div class="main-body">
        <!------------------------------------------ Button-intro -->
        <div class="body-block">
          <div class="block-heading">Button</div>
          <hr />
          <div class="block-desc">
            Buttons are used to register user's input on the click and then
            perform the necessary action. use
            <span class="inline-code">.btn</span> class.( you can choose between
            different styles of buttons. like

            <span class="inline-code">btn .btn-primary </span>
            <span class="inline-code">btn .btn-warning </span>
            <span class="inline-code">btn .btn-danger </span> ) within
            <span class="hLight">&lt;button&gt;</span> element to create
            buttons.
          </div>

          <!-- Button simple use case -->
          <div class="exapmle-container">
            <div class="elm-container">
              <button class="btn btn">Default</button>
              <button class="btn btn-primary">Primary</button>
              <button class="btn btn-warning">Warning</button>
              <button class="btn btn-danger">Danger</button>
            </div>

            <div class="code-container">
              <pre><code class="html-plaintext">&lt;button class="btn btn">Default&lt;/button>
&lt;button class="btn btn-primary">Primary&lt;/button>
&lt;button class="btn btn-warning">Warning&lt;/button>
&lt;button class="btn btn-danger">Danger&lt;/button></code></pre>
            </div>
          </div>

          <!-- button link -->
        </div>

        <!------------------------------------------ Button link -->
        <div class="body-block">
          <div class="block-heading">Button link</div>
          <hr />

          <!-- Button simple use case -->
          <div class="exapmle-container">
            <div class="elm-container">

              <a href="#" class="btn-link  btn-link">Default</a>
              <a href="#" class="btn-link  btn-link-primary">primary</a>
              <a href="#" class="btn-link  btn-link-warning">warning</a>
              <a href="#" class="btn-link  btn-link-danger">Danger</a>

            </div>

            <div class="code-container">
              <pre><code class="html-plaintext">&lt;a class="btn-link">Default&lt;/a>

&lt;a class="btn-link btn-link-primary">Primary&lt;/a>
&lt;a class="btn-link btn-link-warning">Warning&lt;/a>
&lt;a class="btn-link btn-link-danger">Danger&lt;/a></code></pre>
            </div>
          </div>
        </div>

        <!-- button icon-->

        <div class="body-block">
          <div class="block-heading">Button Icon</div>
          <hr />

          <!-- Button simple use case -->
          <div class="exapmle-container">
            <div class="elm-container">
              <button class="btn">
                <i class="material-icons btn-icon">email</i>
                Default
              </button>

              <button class="btn btn-primary">
                <i class="material-icons btn-icon">fingerprint</i>
                primary
              </button>


              <button class="btn btn-warning">
                <i class="material-icons btn-icon">flag</i>
                warning
              </button>


              <button class="btn btn-danger">
                <i class="material-icons btn-icon">flash_on</i>
                danger
              </button>
            </div>

            <div class="code-container">
              <pre><code class="html-plaintext">&lt;button class="btn">
&lt;i class="btn-icon">email&lt;/i>
    Default
&lt;/button>

&lt;button class="btn btn-primary">
    &lt;i class="btn-icon">fingerprint&lt;/i>
    primary
&lt;/button>


&lt;button class="btn btn-warning">
    &lt;i class="btn-icon">flag&lt;/i>
    warning
&lt;/button>


&lt;button class="btn btn-danger">
    &lt;i class="btn-icon">flash_on&lt;/i>
    danger
&lt;/button></code></pre>
            </div>
          </div>

          <!-- icon- button link -->
        </div>

      <!-- Floating-Action Button -->
      <div class="body-block">
        <div class="block-heading">Floating Action Button</div>
        <hr />
        <div class="block-desc"></div>

        <!-- Button simple use case -->
        <div class="exapmle-container">
          <div class="elm-container">
            <button class="btn-flt"><i class="material-icons icon-flt">add</i></button>
          </div>

          <div class="code-container">
            <pre><code class="html-plaintext">&lt;button class="btn-flt">&lt;i class="icon-flt">add&lt;/i>&lt;/button>
            </pre>
          </div>
    </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
