<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation Page</title>
    <link rel="stylesheet" href="../css/core.css" />
    <link rel="stylesheet" href="../css/docPage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css"
    />
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  </head>
  <body>
    <div class="topbar-container">
      <div class="topbar-left-container">
        <i class="material-icons">menu</i>
        <a href="../index.html" class="topbar-logo">Aphro-UI</a>
      </div>
      <div class="topbar-right-container">
        <a href="https://github.com/sameep-s/Aphro_CSS-Library"
          ><img
            src="../assets/images/git-mark.png"
            class="git-logo"
            alt="github-logo"
        /></a>
      </div>
    </div>
    <!-- topbar close -->

      <!-- new -->
      <div class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-heading">Getting Started</div>
          <hr />
          <div class="link-container">
            <ul>
              <li class="sidebar-list-item">
                <a href="../components/docPage.html">Introduction</a>
              </li>
            </ul>
          </div>

          <div class="sidebar-heading">Components</div>
          <hr />
          <div class="link-container">
            <ul>
              <li>
                <a class="sidebar-list-item" href="../components/avatar.html"
                  >Avatar</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/alert.html"
                  >Alert</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/badge.html"
                  >Badge</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/button.html"
                  >Button</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/card.html"
                  >Card</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/images.html"
                  >Image</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Input</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/lists.html"
                  >Lists</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/navigation.html"
                  >Navigation</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/modal.html"
                  >Modal</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/rating.html"
                  >Rating</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Snackbar</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/grid.html"
                  >Simplified Grid</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Text Utilities</a
                >
              </li>
            </ul>
          </div>

          <div class="sidebar-heading">Common Utilities</div>
          <hr />
          <div class="link-container">
            <ul>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Display Utilities</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Flex Utilities</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="main-body">
        <!-- Introduction -->
        <div class="body-block">
          <div class="block-heading">Introduction</div>
          <hr />
          <div class="block-desc">
            Get started with Aphro-CSS which is an easy to use CSS library,
            Aphro is used to write aesthetically beautiful production-ready code
            at a fast pace!
          </div>
        </div>

        <!-- css-link -->
        <div class="body-block">
          <div class="block-heading">CSS</div>
          <hr />
          <div class="block-desc">
            Copy paste the below mentioned stylesheet
            <span class="hLight">&lt;link&gt; </span> to your code before all
            other stylesheets to load Aphro-CSS to your project.
          </div>

          <div class="code-block">
            <pre> <code class="html-plaintext">&lt;link rel="stylesheet" href="#" integrity=" crossorigin="anonymous" /&gt;</code></pre>
          </div>
        </div>

        <!-- javascript link -->
        <div class="body-block">
          <div class="block-heading">Javascript</div>
          <hr />
          <div class="block-desc">
            Many components require the use of javascript to function. Place the
            following
            <span class="hLight">&lt;script&gt;</span> just above the
            <span class="hLight">&lt;/body&gt;</span> tag.
          </div>

          <div class="code-block">
            <pre> <code class="html-plaintext">&lt;script rel="stylesheet" href="#" integrity=" crossorigin="anonymous" /&gt;</code></pre>
          </div>
        </div>

        <!-- Starter Template -->
        <!-- template -->
        <div class="body-block">
          <div class="block-heading">Starter Template</div>
          <hr />
          <div class="block-desc">
            Be sure to have your pages set up with the latest design and
            development standards. That means using an HTML5 doctype and
            including a viewport meta tag for proper responsive behaviors. Put
            it all together and your pages should look like this:
          </div>

          <div class="code-block">
            <pre><code class="html-plaintext">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;

&lt;head&gt;

&lt;meta charset="UTF-8" /&gt;
&lt;meta http-equiv="X-UA-Compatible" content="IE=edge" /&gt;
&lt;meta name="viewport" content="width=device-width, initial-scale=1.0" /&gt;
&lt;title&gt;Document&lt;/title&gt;

&lt;!-- Add this CSS link for before any other CSS file --&gt;
&lt;!-- CSS script link --&gt;
&lt;link rel="stylesheet" href="#" integrity=" crossorigin="anonymous" /&gt;
&lt;/head&gt;
&lt;body&gt;



&lt;!-- Add this Script file link  before the end of body tag for javascript functionality to work --&gt;
&lt;!-- script link for javascript functionality --&gt;
&lt;script rel="stylesheet" href="#" integrity=" crossorigin="anonymous" /&gt;

&lt;/body&gt;

&lt;/html&gt;</code></pre>
          </div>
        </div>
        <!-- end -->

        <div class="body-block">
          <div class="block-heading">Box Sizing</div>
          <hr />
          <div class="block-desc">
            For more straightforward sizing in CSS, we switch the global
            box-sizing value from <span class="hLight">content-box</span> to
            <span class="hLight">border-box</span>. This ensures padding does
            not affect the final computed width of an element, but it can cause
            problems with some third-party software like Google Maps and Google
            Custom Search Engine. On the rare occasion you need to override it,
            use something like the following:
          </div>
          <pre>
<code class="html-plaintext">.some-class {
    box-sizing: content-box;
}
</code>
        </pre>
        </div>

        <div class="body-block">
          <div class="block-heading">HTML5 doctype</div>
          <hr />
          <div class="block-desc">
            Bootstrap requires the use of the HTML5 doctype. Without it, you’ll
            see some funky incomplete styling, but including it shouldn’t cause
            any considerable hiccups.
          </div>

          <pre>
<code class="html-plaintext">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
    ....
&lt;/html&gt;
</code>
        </pre>
        </div>

        <!-- template -->
        <div class="body-block">
          <div class="block-heading"></div>
          <hr />
          <div class="block-desc">
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
