<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation Page</title>
    <link rel="stylesheet" href="../css/core.css" />
    <link rel="stylesheet" href="../css/docPage.css" />
  </head>
  <body>
    <div class="topbar-container">
      <div class="topbar-left-container">
        <a href="../components/index.html" class="topbar-logo">Aphro-UI</a>
      </div>
      <div class="topbar-right-container">
        <a href="https://github.com/sameep-s/Aphro_CSS-Library"
          ><img
            src="../assets/images/git-mark.png"
            class="git-logo"
            alt="github-logo"
        /></a>
      </div>
    </div>
    <!-- topbar close -->
    <div class="main-wrapper">
      <div class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-heading">Getting Started</div>
          <hr />
          <div class="link-container">
            <ul>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Introduction</a
                >
              </li>
            </ul>
          </div>

          <div class="sidebar-heading">Components</div>
          <hr />
          <div class="link-container">
            <ul>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Badge</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Badge</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Badge</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Badge</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Badge</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Badge</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Badge</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="main-body" main>
        <div class="body-heading">Introduction</div>
        <hr />
      </div>
    </div>
  </body>
</html>
