<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation Page-Images</title>
    <link rel="stylesheet" href="../css/comp.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- topbar -->
    <div class="topbar-container">
      <div class="topbar-left-container">
        <i class="material-icons">menu</i>
        <a href="../index.html" class="topbar-logo">Aphro-UI</a>
      </div>
      <div class="topbar-right-container">
        <a href="https://github.com/sameep-s/Aphro_CSS-Library"
          ><img
            src="../assets/images/git-mark.png"
            class="git-logo"
            alt="github-logo"
        /></a>
      </div>
    </div>
    <div class="main-wrapper">
      <!-- sidebar -->

      <nav class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-heading">Getting Started</div>
          <hr />
          <div class="link-container">
            <ul>
              <a href="../components/docPage.html">
                <li class="list-item-sidebar">Introduction</li>
              </a>
            </ul>
          </div>

          <div class="sidebar-heading">Components</div>
          <hr />
          <div class="link-container">
            <ul>
              <a href="../components/avatar.html">
                <li class="list-item-sidebar">Avatar</li>
              </a>
              <a href="../components/alert.html">
                <li class="list-item-sidebar">Alert</li>
              </a>

              <a href="../components/docPage.html">
                <li class="list-item-sidebar">Introduction</li>
              </a>

              <a href="../components/badge.html">
                <li class="list-item-sidebar">Badge</li>
              </a>

              <a href="../components/button.html">
                <li class="list-item-sidebar">Button</li>
              </a>

              <a href="../components/card.html">
                <li class="list-item-sidebar">Card</li>
              </a>

              <a href="../components/images.html">
                <li class="list-item-sidebar">Images</li>
              </a>

              <a href="../components/input.html">
                <li class="list-item-sidebar">Input</li>
              </a>

              <a href="../components/lists.html">
                <li class="list-item-sidebar">Lists</li>
              </a>

              <a href="../components/navigation.html">
                <li class="list-item-sidebar">Navigation(p0)</li>
              </a>

              <a href="../components/modal.html">
                <li class="list-item-sidebar">Modal</li>
              </a>

              <a href="../components/rating.html">
                <li class="list-item-sidebar">Rating</li>
              </a>

              <a href="../components/slider.html">
                <li class="list-item-sidebar">Slider</li>
              </a>

              <a href="../components/snackbar.html">
                <li class="list-item-sidebar">Snackbar</li>
              </a>

              <a href="../components/grid.html">
                <li class="list-item-sidebar">Grid</li>
              </a>

              <a href="../components/textUtil.html">
                <li class="list-item-sidebar">Text Utilities</li>
              </a>
            </ul>
          </div>
        </div>
      </nav>

      <div class="main-body">
        <!------------------------------------------ Images -->
        <div class="body-block">
          <div class="block-heading">Images</div>
          <hr />
          <div class="block-desc">
            Images are an essential part of a website, it makes a website more engaging and informative.
            use different classes so that image never overflows from the parent container. add class <span class="hLight">.img-fluid</span> to make the width of image to 100%
            and <span class="hLight">.img-round</span> for a circular image.
          </div>

          <!-- Button simple use case -->
          <div class="exapmle-container">
            <div class="elm-container">
                <div class="img-ex-conatiner">
                    <img
                    src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                    class="img-fluid"
                    alt="image-fluid-example">

                </div>
                <div class="img-ex-conatiner">
                    <img
                    src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                    class="img-fluid img-round"
                    alt="image-example">
                    
                </div>
            </div>

            <div class="code-container">
              <pre><code class="html-plaintext">&lt;div class="img-ex-conatiner">
    &lt;img
    src="https://images0&q=80"
    class="img-fluid"
    alt="image-fluid-example">
&lt;/div>

&lt;div class="img-ex-conatiner">
    &lt;img
    src="https://images.u=80"
    class="img-fluid img-round"
    alt="image-example">
&lt;/div></code></pre>
            </div>
          </div>
        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
