<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aphro CSS Library</title>
    <link rel="stylesheet" href="../css/core.css" />
    <link rel="stylesheet" href="../css/index.css" />
  </head>

  <body>
    <div class="main-wrapper">
      <!-- topbar -->
      <div class="topbar-container">
        <div class="topbar-left-container">
          <a href="" class="topbar-logo">Aphro-UI</a>
        </div>
        <div class="right-side-continer"></div>
      </div>

      <!-- content below topbar -->
      <div class="content-wrapper">
        <div class="content-bg-image">
          <img
            src="../assets/images/14092.jpg"
            alt="background-img"
            class="backgound-img"
          />
        </div>

        <div class="aphro-name">Aphro-UI</div>
        <div class="content-desc">
          Create aesthetically beautiful websites using Aphro-CSS which is a CSS
          library used to write production-ready code at a fast pace!!.
        </div>

        <div class="button-div">
          <button class="btn btn-primary">
            <a href="../components/docPage.html">Get started</a>
          </button>
          <button class="btn btn-default">
            <a href="https://github.com/sameep-s/Aphro_CSS-Library"
              >Source Code</a
            >
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
