<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aphro CSS Library</title>
    <link rel="stylesheet" href="../css/core.css" />
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <div class="main-wrapper">
      <!-- topbar -->
      <div class="topbar-container">
        <div class="topbar-left-container">
          <a href="" class="topbar-logo">HOME</a>
        </div>
        <div class="right-side-continer"></div>
      </div>

      <!-- content below topbar -->
      <div class="content-wrapper">
        <div class="content-bg-image">
          <img
            src="../assets/images/color-background.jpg"
            alt="background-img"
            class="backgound-img"
          />
        </div>

        <div class="aphro-name">Aphro-UI</div>
        <div class="content-desc">
          Aphro is a CSS library which is used to write visually pleasing
          production-ready code at a fast pace!!.
        </div>

        <div class="button-div">
          <button class="btn btn-primary">Get started</button>
          <button class="btn btn-default">Source Code</button>
        </div>
      </div>
    </div>
  </body>
</html>
