<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation Page- Navigation</title>
    <link rel="stylesheet" href="../css/comp.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- topbar -->
    <div class="topbar-container">
      <div class="topbar-left-container">
        <i class="material-icons">menu</i>
        <a href="../index.html" class="topbar-logo">Aphro-UI</a>
      </div>
      <div class="topbar-right-container">
        <a href="https://github.com/sameep-s/Aphro_CSS-Library"
          ><img
            src="../assets/images/git-mark.png"
            class="git-logo"
            alt="github-logo"
        /></a>
      </div>
    </div>
    <div class="main-wrapper">
      <!-- sidebar -->
      <div class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-heading">Getting Started</div>
          <hr />
          <div class="link-container">
            <ul>
              <li class="sidebar-list-item">
                <a href="../components/docPage.html">Introduction</a>
              </li>
            </ul>
          </div>

          <div class="sidebar-heading">Components</div>
          <hr />
          <div class="link-container">
            <ul>
              <li>
                <a class="sidebar-list-item" href="../components/avatar.html"
                  >Avatar</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Badge</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Card</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Image</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Input</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Snackbar</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Badge</a
                >
              </li>
            </ul>
          </div>

          <div class="sidebar-heading">Common Utilities</div>
          <hr />
          <div class="link-container">
            <ul>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Display Utilities</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Flex Utilities</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="main-body">
        <!-- Modal-intro -->
        <div class="body-block">
          <div class="block-heading">Modal</div>
          <hr />
          <div class="block-desc">
            Modal is used to display information which requires immediate
            attention of the user. follow the below code example to get a fluid
            navbar easily.
          </div>
        </div>

        <div class="body-block">
          <div class="block-heading">Modal Example</div>
          <hr />
          <div class="exapmle-container">
            <div class="elm-container">
              <div class="modal-wapper">
                <div class="modal-header">
                  <div class="modal-title">Modal Title</div>
                  <i class="material-icons modal-icon">close</i>
                </div>
                <div class="modal-body">Text goes here.</div>
                <div class="modal-buttons">
                  <button class="btn-primary">Save Changes</button>
                  <button class="btn-danger">Close</button>
                </div>
              </div>
            </div>
            <div class="code-container">
              <pre><code class="html-plaintext">&lt;div class="navbar-container">
&lt;div class="navbar-left-container">
    &lt;i class="material-icons">menu&lt;/i>
    BrandName
&lt;/div>
&lt;div class="navbar-right-container">
    &lt;img
        src="../assets/images/git-mark.png"
        class="git-logo"
        alt="github-logo"
    />&lt;/a>
&lt;/div>
&lt;/div></code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
