<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation Page- Text Utilities</title>
    <link rel="stylesheet" href="../css/comp.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- topbar -->
    <div class="topbar-container">
      <div class="topbar-left-container">
        <i class="material-icons">menu</i>
        <a href="../index.html" class="topbar-logo">Aphro-UI</a>
      </div>
      <div class="topbar-right-container">
        <a href="https://github.com/sameep-s/Aphro_CSS-Library"
          ><img
            src="../assets/images/git-mark.png"
            class="git-logo"
            alt="github-logo"
        /></a>
      </div>
    </div>
    <div class="main-wrapper">
      <!-- sidebar -->
      <div class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-heading">Getting Started</div>
          <hr />
          <div class="link-container">
            <ul>
              <li class="sidebar-list-item">
                <a href="../components/docPage.html">Introduction</a>
              </li>
            </ul>
          </div>

          <div class="sidebar-heading">Components</div>
          <hr />
          <div class="link-container">
            <ul>
              <li>
                <a class="sidebar-list-item" href="../components/avatar.html"
                  >Avatar</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/alert.html"
                  >Alert</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/badge.html"
                  >Badge</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/button.html"
                  >Button</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/card.html"
                  >Card</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/images.html"
                  >Image</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Input</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/lists.html"
                  >Lists</a
                >
              </li>
              <li>
                <a
                  class="sidebar-list-item"
                  href="../components/navigation.html"
                  >Navigation</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/modal.html"
                  >Modal</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/rating.html"
                  >Rating</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/docPage.html"
                  >Snackbar</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/grid.html"
                  >Simplified Grid</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/textUtil.html"
                  >Text Utilities</a
                >
              </li>
            </ul>
          </div>

          <div class="sidebar-heading">Common Utilities</div>
          <hr />
          <div class="link-container">
            <ul>
              <li>
                <a
                  class="sidebar-list-item"
                  href="../components/displayUtil.html"
                  >Display Utilities</a
                >
              </li>
              <li>
                <a class="sidebar-list-item" href="../components/flexUtil.html"
                  >Flex Utilities</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="main-body">
        <!-- Avatar-intro -->
        <div class="body-block">
          <div class="block-heading">Text Utilities</div>
          <hr />
          <div class="block-desc">
            Some basic Text Utilities which may come in handy while writing code
            for your project.
          </div>
        </div>

        <div class="body-block">
          <div class="block-heading">Basic Example</div>
          <hr />
          <div class="exapmle-container">
            <div class="elm-container">
              <div class="txt-container">
                <div class="txt-heading">This is Text Heading.</div>
                <div class="txt-sm">This is small Text.</div>
                <div class="txt-grey">This is grey Text.</div>
                <div class="txt-center">This is Text Center.</div>
              </div>
            </div>
            <div class="code-container">
              <pre><code class="html-plaintext">&lt;div class="txt-heading">This is Text Heading.&lt;/div>
&lt;div class="txt-sm">This is small Text.&lt;/div>
&lt;div class="txt-grey">This is grey Text.&lt;/div>
&lt;div class="txt-center">This is Text Center.&lt;/div>
                </code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
