<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation Page- Text Utilities</title>
    <link rel="stylesheet" href="../css/comp.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- topbar -->
    <div class="topbar-container">
      <div class="topbar-left-container">
        <i class="material-icons">menu</i>
        <a href="../index.html" class="topbar-logo">Aphro-UI</a>
      </div>
      <div class="topbar-right-container">
        <a href="https://github.com/sameep-s/Aphro_CSS-Library"
          ><img
            src="../assets/images/git-mark.png"
            class="git-logo"
            alt="github-logo"
        /></a>
      </div>
    </div>
    <div class="main-wrapper">
      <!-- sidebar -->
      <div class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-heading">Getting Started</div>
          <hr />
          <div class="link-container">
            <ul>
              <li class="list-item-sidebar">
                <a href="../components/docPage.html">Introduction</a>
              </li>
            </ul>
          </div>

          <div class="sidebar-heading">Components</div>
          <hr />
          <div class="link-container">
            <ul>
              <li class="list-item-sidebar">
                <a href="../components/avatar.html">Avatar</a>
              </li>
              <li class="list-item-sidebar">
                <a href="../components/alert.html">Alert</a>
              </li>
              <li class="list-item-sidebar">
                <a href="../components/badge.html">Badge</a>
              </li>
              <li class="list-item-sidebar">
                <a href="../components/button.html">Button</a>
              </li>
              <li class="list-item-sidebar">
                <a href="../components/card.html">Card</a>
              </li>
              <li class="list-item-sidebar">
                <a href="../components/images.html">Image</a>
              </li>
              <li class="list-item-sidebar">
                <a href="../components/docPage.html">Input</a>
              </li>
              <li class="list-item-sidebar">
                <a href="../components/lists.html">Lists</a>
              </li>
              <li class="list-item-sidebar">
                <a href="../components/navigation.html">Navigation</a>
              </li>
              <li class="list-item-sidebar">
                <a href="../components/modal.html">Modal</a>
              </li>
              <li class="list-item-sidebar">
                <a href="../components/rating.html">Rating</a>
              </li>
              <li class="list-item-sidebar">
                <a href="../components/docPage.html">Snackbar</a>
              </li>
              <li class="list-item-sidebar">
                <a href="../components/grid.html">Simplified Grid</a>
              </li>
              <li class="list-item-sidebar">
                <a href="../components/textUtil.html">Text Utilities</a>
              </li>
            </ul>
          </div>

          <div class="sidebar-heading">Common Utilities</div>
          <hr />
          <div class="link-container">
            <ul>
              <li class="list-item-sidebar">
                <a href="../components/displayUtil.html">Display Utilities</a>
              </li>
              <li class="list-item-sidebar">
                <a href="../components/flexUtil.html">Flex Utilities</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="main-body">
        <!-- Avatar-intro -->
        <div class="body-block">
          <div class="block-heading">Text Utilities</div>
          <hr />
          <div class="block-desc">
            Some basic Text Utilities which may come in handy while writing code
            for your project.
          </div>
        </div>

        <!-- Heading -->
        <div class="body-block">
          <div class="block-heading">Heading</div>
          <hr />
          <div class="exapmle-container">
            <div class="elm-container">
              <div class="txt-container">
                <div class="h-1">This is Text Heading.</div>
                <div class="h-2">This is Text Heading.</div>
                <div class="h-3">This is Text Heading.</div>
                <div class="h-4">This is Text Heading.</div>
                <div class="h-5">This is Text Heading.</div>
              </div>
            </div>
            <div class="code-container">
              <pre><code class="html-plaintext">&lt;div class="h-1">This is Text Heading.&lt;/div>
&lt;div class="h-2">This is Text Heading.&lt;/div>
&lt;div class="h-3">This is Text Heading.&lt;/div>
&lt;div class="h-4">This is Text Heading.&lt;/div>
&lt;div class="h-5">This is Text Heading.&lt;/div>
              </code></pre>
            </div>
          </div>
        </div>

        <!-- font-weight -->
        <div class="body-block">
          <div class="block-heading">Font Weight</div>
          <hr />
          <div class="exapmle-container">
            <div class="elm-container">
              <div class="txt-container">
                <div class="fw-light h-3">This is light Text.</div>
                <div class="fw-bold h-3">This is bold Text.</div>
                <div class="fw-bolder h-3">This is bolder Text.</div>
              </div>
            </div>
            <div class="code-container">
              <pre><code class="html-plaintext">&lt;div class="fw-light">This is light Text.&lt;/div>
&lt;div class="fw-bold">This is bold Text.&lt;/div>
&lt;div class="fw-bolder">This is bolder Text.&lt;/div>
              </code></pre>
            </div>
          </div>
        </div>

        <!-- text align -->
        <div class="body-block">
          <div class="block-heading">Text Align</div>
          <hr />
          <div class="exapmle-container">
            <div class="elm-container">
              <div class="txt-container">
                <div class="h-5 txt-center">
                  This is Text Aligned in center.
                </div>
                <div class="h-5 txt-end">This is Text Aligned at the end.</div>
                <div class="h-5 txt-gray">This is Gray Text .</div>
              </div>
            </div>
            <div class="code-container">
              <pre><code class="html-plaintext">&lt;div class="txt-center">This is Text Aligned in center.&lt;/div>
&lt;div class="txt-end">This is Text Aligned at the end.&lt;/div>
&lt;div class="txt-gray">This is Gray Text .&lt;/div>
              </code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
